{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h3>Hi {{ user.username }}! </h3>
  <p> Welcome to Mass Printing Company</p>
  
  <a href="{% url 'setup_1' %}"><h2>If you want to do Initial Company Setup,do here...!!!</h2></a>
 
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p> Welcome to Mass Printing Company</p>
  <p>Kindly login or signup</p>
  <a href="{% url 'login' %}">Login</a> |
  <a href="{% url 'user_auth:signup' %}">Sign Up</a>
{% endif %}
{% endblock %}